 @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

 *{
    margin: 0;
    padding: 0;
}


:root{
    --font-primaria: "Fira Code", monospace;
    --font-secundaria: "Finger Paint", cursive;
}



.body-1 {
    background-image: url("/Global_Solution/Front-End_PG1/imgs/tiro-completo-crianca-sentada-ao-ar-livre\ 1.png");
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;

}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.container__titulo__fome {
    position: absolute;   
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 120px;
    color: #fff;
    z-index: 2;
    left: 70%;
    bottom: 30%;

}

.container__navegacao {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: #F8F6F4;
    opacity: 77%;
    height: 228px;
    bottom: 0;
    position: fixed;
    width: 100%; 
}

.titulo-container {
    display: flex;
}

.container__navegacao__descricao, .container__navegacao__navegar {
    flex: 1;
    text-align: center;
}

.container__navegacao__descricao h2{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    text-align: justify;
    padding: 2% 4%;
}

.container__navegacao__navegar h3{
    font-family: var(--font-primaria);
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-align: right;
    padding: 20%;
}
.container__navegacao__navegar a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.container__navegacao__navegar a:hover {
    color: red;
}